body{
    margin: 0;
}

.superior{
    height: 90px;
    background-color: #1F1F1F;
    display: flex;
}

.reachel{
    width: 46%;
    display: flex;
    align-items: center;
}

.star{
    height: 60px;
    margin-left: 130px;
}

.textreachel{
    color: white;
    font-family: sans-serif;
    font-weight: 400;
    margin-bottom: 14px;
}

.home, .about, .services{
    color: white;
    border-right: 4px solid white;
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects{
    color: white;
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texthome, .textabout, .textservices, .textprojects{
    font-weight: 600;
    font-family: sans-serif;
}

.contactme{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16%;
    background-color: #FFDE9F;
    height: 98%;
}

.textcontact{
    font-family: sans-serif;
}

.flecha{
    height: 20px;
}

.contreachel{
    display: flex;
    width: 100%;
}

.reachleft{
    width: 49%;
    border-right: 3px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 700px;
    font-family: sans-serif;
}

.contleft{
    width: 60%;
    margin-right: 20px;
}

.welcomstar{
    display: flex;
    align-items: center;
}

.welcome{
    margin: 0;
}

.starblack{
    height: 30px;
}

.green{
    font-size: 45px;
}

.buttonmsg{
    display: flex;
    justify-content: space-between;
}

.contactme2{
    width: 38%;
    background-color: #1F1F1F;
    border-radius: 30PX;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.sendmsg{
    width: 56%;
    background-color: #ffffff;
    border-radius: 30PX;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1F1F1F;
    border: 3px solid black;
}
#barra{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;

}
.letreros{
    width: 10%;
    height: 30px;
    
}
.girl{
    height: 600px;
}
.estrellita{
    width: 3%;
}

.reachright{
    margin-left: 7%;
}

.letreros{
    display: flex;
    align-items: center;
    justify-content: center;
}

.green2, .box, .grafics, .arrow, .light{
    height: 30px;
}

.agency, .company, .buisness, .startup, .Venture{
    margin: 0;
}
#fondo{
    background-color: #FFDE9F;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.serv{
    display: flex;
    align-items: center;
    margin-top: 165px;
}

.services2{
    color: black;
    margin: 0;
}

.estrellita2{
    height: 25px;
}

.teta{
    margin: 8px;
}

.foot{
    width: 80%;
    border: 3px solid black;
    background-color: white;
    border-radius: 32px 32px 0 0;
}

.topfoot{
    display:flex;
}

.support{
    display: flex;
    width: 33%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    height: 300px;
}

.design{
    display: flex;
    width: 33%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    height: 300px;
    border-radius: 25px 0 0 0;

} 

.design2{
    display: flex;
    width: 33%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    height: 300px;
    border-radius: 0 25px 0 0;
}

.servicesfot, .brading, .touch{
    display: flex;
    width: 33%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    height: 220px;
}

.nav{
    height: 60px;
}

.bottomfoot{
    display: flex;
}

.ff{
    margin: 7.1px;
}

.lorem{
    margin-top: 0;
    margin-bottom: 38px;
}